.phone-filter-flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.phone-filter-flex textarea{
    height: 300px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;;
    margin-bottom: 15px;
}